<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juannale.pearljamlyricsapp"
    android:versionCode="8"
    android:versionName="2.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Main Activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Select By Album Activity -->
        <activity
            android:name=".SelectByAlbumActivity"
            android:label="@string/actionbar_name"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <!-- Select By Song Name Activity -->
        <activity
            android:name=".SelectBySongNameActivity"
            android:label="@string/actionbar_name"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <!-- Songs By Album Activity -->
        <activity
            android:name=".SongsByAlbumActivity"
            android:label="@string/actionbar_name"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <!-- Songs Lyrics Activity -->
        <activity
            android:name=".SongLyricsActivity"
            android:label="@string/actionbar_name"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_actionbar"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <!-- Favs Activity -->
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/actionbar_name"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        <!-- Help Activity -->
        <activity
            android:name="com.juannale.pearljamlyricsapp.HelpActivity"
            android:label="@string/help_actionbar"
            android:theme="@style/Theme.Sherlock" >
        </activity>
        
        <!-- Used for install referrer tracking -->
	    <receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver"
	              android:exported="true">
	      <intent-filter>
	        <action android:name="com.android.vending.INSTALL_REFERRER" />
	      </intent-filter>
	    </receiver>
    </application>

</manifest>